In [4]:
from collections import namedtuple
Subscriber = namedtuple('Subscriber', ['addr','joined'])
sub = Subscriber('jonesy@example.com','2012-10-19')
sub

Subscriber(addr='jonesy@example.com', joined='2012-10-19')

In [5]:
sub.addr

'jonesy@example.com'

In [6]:
sub.joined

'2012-10-19'

In [7]:
len(sub)

2

In [9]:
addr, joined = sub
addr

'jonesy@example.com'

In [10]:
joined

'2012-10-19'

In [13]:
portfolio = [
    ['IBM',100,91.1],
    ['AAPL',50,543.22]
]

In [16]:
def compute_cost(records):
    total = 0.0
    for rec in records:
         total += rec[1] * rec[2]
    return total

compute_cost(portfolio)

36271.0

In [19]:
Stock = namedtuple('Stock',['name','shares','price'])
def compute_cost(records):
    total = 0.0
    for rec in records:
        s = Stock(*rec)
        total += s.shares * s.price
    return total

compute_cost(portfolio)

36271.0

In [20]:
s = Stock('ACME',100,123.45)
s

Stock(name='ACME', shares=100, price=123.45)

In [21]:
s.shares = 75

AttributeError: can't set attribute

In [22]:
s = s._replace(shares=75)
s

Stock(name='ACME', shares=75, price=123.45)

In [27]:
from collections import namedtuple

Stock = namedtuple('Stock',['name','shares','price','date','time'])

# Create a stock prototype instance
stock_prototype = Stock('',0,0.0,None, None)

# Function to convert a dictionary to stock
def dict_to_stock(s):
    return stock_prototype._replace(**s)


a = {'name': 'ACME', 'shares': 100, 'price':123.45}
dict_to_stock(a)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

In [28]:
b = {'name': 'ACME', 'shares': 100, 'price':123.45, 'date':'12/17/2012'}
dict_to_stock(b)

Stock(name='ACME', shares=100, price=123.45, date='12/17/2012', time=None)